*{
    font-family: 'Macondo', cursive;
    font-weight: 1000;
}


h2{
    background-color: rgb(56, 243, 243);
    display:inline-block;
    padding: 100px; /* orden de medidas top, right, bottom, left */
    box-sizing: content-box;
    text-align: center;
    margin: 10px 5px;
    border-radius:1em;
    border:4px groove rgb(130, 189, 112)
}

